<!--
  ~ <<licensetext>>
  -->

<form nz-form [formGroup]="eventForm">
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="4"> Name </nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
      <nz-input-group>
        <input
          type="text"
          nz-input
          nzRequired
          [name]="eventForm.controls['name']"
          [formControl]="eventForm.controls['name'] | as: FormControl"
          placeholder="name..."
        />
      </nz-input-group>
      <ng-template #errorTemplate>
        <div
          class="code-error"
          nz-form-explain
          *ngIf="
          eventForm.controls['name']?.dirty &&
          eventForm.controls['name']?.touched &&
          eventForm.controls['name']?.errors?.['required']
        "
        >
          <span>Please add a name!</span>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">Description</nz-form-label>
    <nz-form-control [nzErrorTip]="descriptionErrorTemplate" class="text-area-container">
      <nz-input-group>
        <nz-textarea-count [nzMaxCharacterCount]="150">
          <textarea
            rows="4"
            nz-input
            type="text"
            [name]="eventForm.controls['description']"
            [formControl]="eventForm.controls['description'] | as: FormControl"
            placeholder="Lorem ipsum dolor sit amet"
            class="text-area"
          ></textarea>
          <ng-template #descriptionErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('maxlength')"> The description length is maximum 150 character! </ng-container>
          </ng-template>
        </nz-textarea-count>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div class="event-type">
    <nz-form-item class="selector">
      <nz-form-label [nzSpan]="4"> Event type </nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <nz-select
            nzShowSearch
            [formControl]="eventForm.controls['eventTypeName'] | as: FormControl"
            (ngModelChange)="getVersionsByEventTypeName()"
          >
            <nz-option *ngFor="let eventTypeName of eventTypeNames" [nzValue]="eventTypeName" nzLabel="{{ eventTypeName }}"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="selector">
      <nz-form-label [nzSpan]="4"> Version </nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <nz-select
            nzShowSearch
            [formControl]="eventForm.controls['eventTypeVersion'] | as: FormControl"
            (ngModelChange)="getActionsByVersion()"
          >
            <nz-option *ngFor="let version of selectedEventTypeVersions" [nzValue]="version" nzLabel="{{ version }}"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="selector">
      <nz-form-label [nzSpan]="4"> To do </nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <nz-select nzShowSearch [formControl]="eventForm.controls['action'] | as: FormControl">
            <nz-option *ngFor="let action of selectedEventTypeActions" [nzValue]="action" nzLabel="{{ action }}"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="4" class="date-pickers-label"> Start time </nz-form-label>
    <div class="date-pickers">
      <div class="mr-2">
        <nz-form-control [nzErrorTip]="'It is required!'">
          <nz-date-picker [formControl]="eventForm.controls['startDate'] | as: FormControl" (ngModelChange)="(null)"> </nz-date-picker>
        </nz-form-control>
      </div>

      <div>
        <nz-form-control [nzErrorTip]="'It is required!'">
          <nz-time-picker [formControl]="eventForm.controls['startTime'] | as: FormControl" (ngModelChange)="(null)" nzFormat="HH:mm">
          </nz-time-picker>
        </nz-form-control>
      </div>
    </div>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="4" class="date-pickers-label"> End time </nz-form-label>
    <div class="date-pickers">
      <div class="mr-2">
        <nz-form-control [nzErrorTip]="'It is required!'">
          <nz-date-picker [formControl]="eventForm.controls['endDate'] | as: FormControl" (ngModelChange)="(null)"> </nz-date-picker>
        </nz-form-control>
      </div>

      <div>
        <nz-form-control [nzErrorTip]="'It is required!'">
          <nz-time-picker [formControl]="eventForm.controls['endTime'] | as: FormControl" (ngModelChange)="(null)" nzFormat="HH:mm">
          </nz-time-picker>
        </nz-form-control>
      </div>
    </div>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()" class="cancel-button">Close</button>
  <button nz-button nzType="default" (click)="save()" class="cancel-button">Ok</button>
</div>
