<!--
  ~ <<licensetext>>
  -->

<form nz-form [formGroup]="eventForm">
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="8">Title</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
      <nz-input-group>
        <input
          type="text"
          nz-input
          nzRequired
          [name]="eventForm.controls['title']"
          [formControl]="eventForm.controls['title'] | as: FormControl"
          placeholder="Title..."
        />
      </nz-input-group>
      <ng-template #errorTemplate>
        <div
          class="code-error"
          nz-form-explain
          *ngIf="
          eventForm.controls['title']?.dirty &&
          eventForm.controls['title']?.touched &&
          eventForm.controls['title']?.errors?.['required']
        "
        >
          <span>Please add a title!</span>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="8"> Start time: </nz-form-label>
    <nz-form-control [nzErrorTip]="'It is required!'">
      <nz-date-picker [formControl]="eventForm.controls['start'] | as: FormControl" (ngModelChange)="(null)"> </nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="8"> End time: </nz-form-label>
    <nz-form-control [nzErrorTip]="'It is required!'">
      <nz-date-picker [formControl]="eventForm.controls['end'] | as: FormControl" (ngModelChange)="(null)"> </nz-date-picker>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()" class="cancel-button">Close</button>
  <button nz-button nzType="default" (click)="save()" class="cancel-button">Ok</button>
</div>
