.echart {
  // todo: Create a global variable from the height and the width of the echarts (like global-variables.ts)
  width: 150px;
  height: 150px !important;

  canvas {
    width: 50% !important;
  }
}

.hovered-echart {
  animation: fade-in 2000ms forwards;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1000;
  height: 300px;
  width: 300px;
}
