<!--
  ~ <<licensetext>>
  -->

<nz-radio-group [(ngModel)]="viewType">
  <label nz-radio-button *ngFor="let view of views" [nzValue]="view.value" (click)="viewType = view.value">
    {{ view.name }}
  </label>
</nz-radio-group>
<ngx-gantt
  #gantt
  id="ganttElement"
  [items]="items"
  [groups]="groups"
  [baselineItems]="baselineItems"
  [viewType]="viewType"
  [async]="true"
  [childrenResolve]="childrenResolve"
  [draggable]="true"
  [selectable]="true"
  [multiple]="true"
  [viewOptions]="viewOptions"
  [refreshItems]="refreshItems.asObservable()"
  [zoomIndex]="zoomIndex"
  [isChartClicked]="isChartClicked"
  (barClick)="barClick($event)"
  (lineClick)="lineClick($event)"
  (dragMoved)="dragMoved($event)"
  (dragEnded)="dragEnded($event)"
  (selectedChange)="selectedChange($event)"
  (loadOnScroll)="loadOnScroll($event)"
  (newEventCreation)="createEvent($event)"
>
  <ngx-gantt-table>
    <ngx-gantt-column name="Groups" width="180px">
      <ng-template #cell let-item="item"> {{ item.name }} </ng-template>
    </ngx-gantt-column>
  </ngx-gantt-table>

  <ng-template #bar let-item="item" let-index>
    <div class="item-content-container">
      <span style="color: #fff">&nbsp;&nbsp;{{ item.name }} </span>
      <div
        *ngIf="item.options?.echart"
        echarts
        [options]="item.options?.echart"
        class="echart"
        (mouseover)="displayBiggerChart(item.options.echart)"
        (mouseout)="removeBiggerChart()"
        (click)="displayBiggerChart(item.options.echart, $event)"
      ></div>
    </div>
  </ng-template>
</ngx-gantt>

<div *ngIf="hoveredEChart" echarts [options]="hoveredEChart" class="hovered-echart" id="hoveredEchart"></div>
